<!DOCTYPE html>
<html lang="Eng">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breathtaking</title>
    <link class="logo" rel="icon" href="./photos/logo.png">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./fonts/gothampro.ttf">
    <link rel="stylesheet" href="./fonts/Carattere-Regular.ttf">
</head>
<body>
    <section class="main-menu">
        <div class="wallpaper-header">
            <header class="header">
                <a href="/main.html">
                    <img class="logo" src="./photos/logo.png">
                </a>
                <nav>
                    <ul class="menu-header">
                        <li><a href="/main.html">Main</a></li>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Tour packages</a></li>
                        <li><a href="">Kontacts</a></li>
                    </ul>
                </nav>
                <nav>
                    <ul class="menu-header header-register">
                        <li class="last"><a href="">Eng &blacktriangledown;</a>
                            <ul>
                                <li class="last"><a href="main.html">Рус</a></li>  
                            </ul>
                        </li>
                        <li><a href="">Login</a></li>
                        <li class="background-register"><div class="epr"><a href="" class="button-register">Sign Up</a></div></li>
                    </ul>
                </nav>
            </header>
        </div>
        <div class="wallpaper-heading">
            <h1 class="string1">Engoy in the best way!</h1>
            <h3 class="string2">Enjoy the journey!</h3>
        </div>
        <div class="wallpaper-workplace">
            <div class="up-wallpaper-workplace">
                <ul>
                    
                </ul>
            </div>
            <div class="in-wallpaper-workplace">
                
            </div>
        </div>
        <div class="space"></div>
    </section>
</body>
</html>